body {
    background-color: gray;
}

.titleClicked {
    color: cornflowerblue;
    transition:color .5s ease-in-out;
}

.titleBase{
    color: cornsilk;
    transition:color .5s ease-in-out;
}